<mat-tab-group mat-align-tabs="start">

	<mat-tab label="Dashboard">

		<!-- Menu Bar -->
		<app-filter-bar [searchFields]="searchFields" (filterParams)="handleFilter($event)">
		</app-filter-bar>

		<!-- Scrollable List -->
		<cdk-virtual-scroll-viewport itemSize="583">

			<ng-container *cdkVirtualFor="let card of cards | filterByPropertyAndValue: searchField: searchText">

				<app-card [data]="card"></app-card>

			</ng-container>

		</cdk-virtual-scroll-viewport>

	</mat-tab>

</mat-tab-group>